{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler"></div>

    <button id="scrollButton">
        <img src="./svg/scroll-icon.svg" alt="">
    </button>
</main>

{{!-- onclick="goTo(window.navbar.value)" --}}
{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}