{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <nav class="navbar">
        <button class="navbar__icon" id="back">
            <img src="./svg/back-arrow.svg">
        </button>
        <button class="navbar__icon" id="forward">
            <img src="./svg/forward-arrow.svg">
        </button>
        <button class="navbar__icon" id="reload">
            <img src="./svg/reload.svg">
        </button>
        <button class="navbar__icon" id="home">
            <img src="./svg/home.svg">
        </button>

        <input type="text" class="navbar__input" id="navbar">
        <button class="navbar__icon" id="go">
            <img src="./svg/go.svg">
        </button>
    </nav>
</main>

{{!-- onclick="goTo(window.navbar.value)" --}}
{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}